:root {
    --background-color: hsl(203, 26%, 16%);
    --navbar-color: hsl(203, 26%, 19%);
    --level-1-background: hsl(203, 26%, 19%);
    --level-1-border: hsl(203, 26%, 25%);
    
    --level-2-background: hsl(203, 26%, 23%);
    --level-2-border: hsl(203, 26%, 31%);
    --level-2-gradient-1: hsl(203, 26%, 21%);
    --level-2-gradient-2: hsl(203, 26%, 30%);

    --static-background: hsl(180, 20%, 19%); /* level 1 */
    --static-border: hsl(180, 20%, 25%); /* level 1 */
    --static-header: hsl(180, 20%, 23%); /* level 2 */
    --static-gradient-1: hsl(180, 26%, 21%); /* level 2 */
    --static-gradient-2: hsl(180, 26%, 30%); /* level 2 */

    --schedule-bar-color: hsla(203, 26%, 60%, 80%);
    --schedule-bar-text-color: hsl(203, 26%, 60%);
    --schedule-overlay-1: hsla(203, 26%, 19%, 80%); /* level 1 bg */
    --schedule-overlay-2: hsla(203, 26%, 23%, 40%); /* level 2 bg */

    --border-radius: 0.8rem;
    --inner-border-radius: 0.3rem;
    --standard-padding: 0.8rem;

    --font-size: 1.2rem;
    --font-family: 'Helvetica', system-ui, sans-serif;
    --font-color: hsl(203, 26%, 95%);
    
    background-color: var(--background-color);
    font: var(--font-size) var(--font-family); 
    color: var(--font-color);
    user-select: none;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#navbar {
    width: 100%;
    height: 50px;

    flex-shrink: 0;

    background-color: var(--navbar-color);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#content {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5rem;
}

.loading {
    background: linear-gradient(45deg, var(--level-2-gradient-1), var(--level-2-gradient-2), var(--level-2-gradient-1), var(--level-2-gradient-2));
    background-size: 300% 300%;
    animation: gradientMove 1s linear infinite;

    border-radius: var(--inner-border-radius);
    color: #ffffff22;
    padding: 0.3rem 1rem;
}

.widget.static .loading {
    background: linear-gradient(45deg, var(--static-gradient-1), var(--static-gradient-2), var(--static-gradient-1), var(--static-gradient-2));
    background-size: 300% 300%;
    animation: gradientMove 1s linear infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.time-font {
    font-family: 'Helvetica', monospace;
    font-size: 2rem;
}

.ms-font {
    opacity: 0.5;
    font-size: .8em;
}

.widget {
    box-sizing: border-box;
    border-radius: var(--border-radius);
    overflow: clip;

    display: flex;
    flex-direction: column;

    border: 1px solid var(--level-1-border);
    background-color: var(--level-1-background);
}

.widget.static {
    border: 1px solid var(--static-border);
    background-color: var(--static-background);
}

.widget-header {
    background-color: var(--level-2-background);
    height: min-content;
    font-size: 0.6rem;
    padding: 0.3em var(--border-radius);

    display: flex;
    justify-content: space-between;
}

.widget.static .widget-header {
    background-color: var(--static-header);
}

.widget-header:has(:only-child) {
    justify-content: center;
}

.widget-content {
    padding: var(--standard-padding);
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

#main-clock {
    grid-area: 1 / 2 / 3 / 4;
}

#main-clock .time-font {
    font-size: 6rem;
}

#military-clock {
    grid-area: 3 / 2 / 3 / 3;
}

#utc-clock {
    grid-area: 3 / 3 / 4 / 4;
}

#analog-clock {
    grid-area: 4 / 2 / 6 / 3;
}

#utc-analog-clock {
    grid-area: 4 / 3 / 6 / 4;
}

#unix-clock {
    grid-area: 1 / 1 / 2 / 2;
}

#schedule-clock {
    grid-area: 1 / 4 / 6 / 5;
}

#sunrise-clock {
    grid-area: 4 / 1 / 5 / 2;
}

#sunset-clock {
    grid-area: 5 / 1 / 6 / 2;
}

#solar-noon-clock {
    grid-area: 3 / 1 / 4 / 2;
}

#day-length-clock {
    grid-area: 2 / 1 / 3 / 2;
}

#schedule-clock .widget-content {
    display: block;
    position: relative;
}

#schedule-overlay {
    width: 100%;
    box-sizing: border-box;

    background: linear-gradient(var(--schedule-overlay-1), var(--schedule-overlay-1) calc(100% - 5rem), var(--schedule-overlay-2));
    border-bottom: 2px solid var(--schedule-bar-color);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

#schedule-overlay-label {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    color: var(--schedule-bar-text-color);
    background-color: var(--level-2-background);

    padding: 0.1em 0.3em;
    border: 2px solid var(--schedule-bar-color);
    border-radius: 0.3em;
}

#blocks-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    z-index: 1;
}

#blocks-container .block {
    border: 1px solid var(--level-2-border);
    border-bottom: none;
    background-color: var(--level-2-background);

    min-height: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;

    flex: var(--flex-weight) 1 0;
}

#blocks-container .block:first-child {
    border-top-left-radius: var(--inner-border-radius);
    border-top-right-radius: var(--inner-border-radius);
}

#blocks-container .block:last-child {
    border-bottom-left-radius: var(--inner-border-radius);
    border-bottom-right-radius: var(--inner-border-radius);
    border-bottom: 1px solid var(--level-2-border);
}

.block.break-block {
    background-color: hsl(203, 26%, 15%)!important;
}

.block-inner {
    padding: var(--standard-padding);

    height: 100%;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    font-size: 0.9rem;
}

.block-name {
    font-weight: 600;
}

.block-times {
    font-size: 0.9em;
    opacity: 0.8;
}